body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Aligator";
  src: url("/assets/fonts/Aligator.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}