@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Rinter";
  letter-spacing: 0.5px;
  background: #f6f6f6;
}

a {
  text-decoration: none;
   color:rgb(79, 130, 218);
}

@font-face {
  font-family: "Rinter";
  src: url("/assets/fonts/Rinter.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Affigere";
  src: url("/assets/fonts/Affigere.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  min-width:480px;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}

h1,h2,h3,h4,h5{
  font-family: "Inter", "Cinzel", serif;
  margin-top:0;
  color:white;
}

