body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #f6f6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Norwester";
  src: url("/assets/fonts/TropicalHorizon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: center;
}