.about {
  padding: 0rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  color: white;
  background: #07090d;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 3rem;
  }
}

.left {
  max-width: 650px;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #cfcfcf;
  text-align: center;
}

.textBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;

  p {
    line-height: 1.6;
    color: #e3e3e3;
    margin-block:0.5rem;
  }
}

/* RIGHT SIDE POLAROID GROUP */

.right {
  position: relative;
  width: 400px;
  height: 420px;

  @media (max-width: 900px) {
    width: 320px;
    height: 380px;
  }
}

.polaroid {
  position: absolute;
  width: 300px;
  padding: 10px;
  background: #f5f2ea;
  border-radius: 6px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.45);

  img {
    width: 100%;
    border-radius: 4px;
  }
}

.one {
  top: 10px;
  left: -20px;
  transform: rotate(-8deg);
}

.two {
  top: 90px;
  right: -10px;
  transform: rotate(6deg);
}

.three {
  bottom: -10px;
  left: 60px;
  transform: rotate(-3deg);
}

.aboutWrapper{
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #07090d;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 3rem;
  }
} 


////////////////// STYLES TO //////////
.grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1100px;
}

.card {
  background: rgba(15, 15, 22, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 1.2rem;
  border: 1px solid rgba(120, 160, 220, 0.25);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);

  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.photoWrapper {
  width: 100%;
  height: 280px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid rgba(150, 150, 200, 0.3);
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; 
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: space-between;
}

.name {
  font-weight: 700;
  margin:0;

}

.city {
  color: #9cd0ff;
  font-weight: 600;
  margin:0;
}

.desc {
  color: #ccc;
  font-size: 0.95rem;
}

.link {
  margin-top: 0.4rem;
  align-self: flex-start;

  padding: 0.45rem 0.8rem;
  border-radius: 0.6rem;

  background: rgba(60, 90, 150, 0.3);
  border: 1px solid rgba(140, 180, 255, 0.4);

  text-decoration: none;
  color: #dfe9ff;
  font-weight: 600;
  bottom:0;

  &:hover {
    background: rgba(90, 140, 220, 0.35);
  }
}
