.about {
  padding: 4rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  color: white;
  background: #07090d;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 3rem;
  }
}

.left {
  max-width: 650px;
}

.title {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-family: 'UnifrakturCook', cursive; // or your gothic font
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #cfcfcf;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    line-height: 1.6;
    color: #e3e3e3;
  }
}

/* RIGHT SIDE POLAROID GROUP */

.right {
  position: relative;
  width: 400px;
  height: 420px;

  @media (max-width: 900px) {
    width: 320px;
    height: 380px;
  }
}

.polaroid {
  position: absolute;
  width: 300px;
  padding: 10px;
  background: #f5f2ea;
  border-radius: 6px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.45);

  img {
    width: 100%;
    border-radius: 4px;
  }
}

.one {
  top: 10px;
  left: -20px;
  transform: rotate(-8deg);
}

.two {
  top: 90px;
  right: -10px;
  transform: rotate(6deg);
}

.three {
  bottom: -10px;
  left: 60px;
  transform: rotate(-3deg);
}

.aboutWrapper{
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: #07090d;
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 3rem;
  }
} 


////////////////// STYLES TO //////////
 .TOgridContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap; // allow wrapping on smaller screens
  justify-content: center;
}
.TOpolaroid {
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  color:black;
   transition: transform 0.4s ease, left 0.4s ease, z-index 0.4s ease;
    background: #f5f2ea;
  border-radius: 6px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.45);
  &:hover {
    transform: translateY(-10px) rotate(-1deg);
  }

  img {
    width: 150px;      // fixed width
    height: 200px;     // fixed height
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    margin:auto;
  }

  .caption {
    padding:0.5rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    h3 {
      font-size: 1.4rem;
      margin: 0.2rem 0;
    }

    h4 {
      font-size: 1.2rem;
      margin: 0.2rem 0;
      font-style: italic;
    }

    p {
      font-size: 1rem;
      margin-top: 0.25rem;
    }

    .contactLink {
    display: inline-block;
      margin-top: 0.5rem;
      font-size: 0.85rem;
      color: #1877F2; // FB blue
      font-weight: 600;
      transition: color 0.3s;
      &:hover {
         color:#1a457e;
      }
    }
  }
}