.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  border-radius: 12px;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .card-content {
    flex-grow: 1; // push buttons to bottom
  }

  .event-title {
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  }

  .event-buttons {
    margin-bottom: 1rem;
  }
}

.gold-border {
  border: 3px solid gold;
}

.white-border {
  border: 3px solid white;
}
