.hero {
  min-height: 84vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly; // <--- centers the whole block

  /* move content slightly inward */
  gap: 5rem; // <--- adds ~10rem visual pull to center

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }
  padding: 3rem 5rem;
  background-size: cover;      /* fill container */
  background-position: center;    /* anchor to top */
  background-repeat: no-repeat;
  background-position: center 3rem;
}

.left {
  display: inline-flex;
  flex-direction: column;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering if span has width */
  span {
  gap: 0.5rem;
  display: inline-flex;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering if span has width */
  }
}

.title {
  letter-spacing: 3px;
  margin-bottom: 0rem;
  text-align: center;
  font-size: clamp(3rem, 10vw, 12rem);
  font-weight: 600;
  font-family: 'Affigere';
}

.subtitle {
  font-size: 1.2em;
  opacity: 0.9;
  margin-bottom: 2rem;
}

.buttons {
  margin-top:2rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;

  @media (max-width: 700px) {
    justify-content: center;
    flex-direction: column;
  }
}

.button {
  padding: 0.75rem 1.6rem;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  transition: 0.2s ease-in-out;
  a{
      text-decoration: none;

  }
}

.primary {
  background: #6672FF;
  color: #fff;
  &:hover{
    background: #66D3FF;
  }
}

.secondary {
  border: 2px solid white;
  color: white;

  &:hover {
    background: white;
    color: black;
  }
}

.right {
  position: relative;
  width: 480px;
  height: 480px;

  @media (max-width: 900px) {
    width: 340px;
    height: 340px;
  }
}

/* POLAROID CARDS */

.polaroid {
  position: absolute;
  width: 280px;
  height: 290px;
  padding: 10px;
  background: #fafafa;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
  border-radius: 6px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Slight overlap + rotation */

.one {
  top: 10px;
  left: 0;
  transform: rotate(-8deg);
}

.two {
  top: 130px;
  left: 200px;
  transform: rotate(6deg);
}

.three {
  top: 250px;
  left: 50px;
  transform: rotate(-3deg);
}

.backgroundImage{
  background-size: cover;      /* fill container */
  background-repeat: no-repeat;
  background-position: center 3rem;
}