.mission {
  padding: 0rem 2rem;
  text-align: center;
  color: #f1f1f1;

  display: flex;
  flex-direction: column;
  align-items: center;
    background: #0f0f0f;
}

.text {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
}
