.mission {
  padding: 0rem 2rem;
  text-align: center;
  color: #f1f1f1;

  display: flex;
  flex-direction: column;
  align-items: center;
    background: #0f0f0f;
}

.text {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
      @media (max-width: 1200px) {
     font-size: 1rem;
  }
    @media (max-width: 900px) {
     font-size: 0.8rem;
  }
}
