.mission {
  padding: 2rem 2rem;
  text-align: center;
  color: #f1f1f1;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0f0f0f;

  h1{
  font-size: 3rem;
  margin-bottom: 0rem;
  text-align: center;
  }
}

.card {
  width: 260px;
  background: #111318;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #2a2d34;
  padding-bottom: 1rem;
  &.ticket{
    border: 2px solid gold;
  }
}

.image {
  height: 180px;
  background-size: cover;
  background-position: center;

  /* You can swap to city-specific later */
}

.body {
  display:flex;
  flex-direction: column;
  gap: 0.2rem;
  h4 {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;

  }

  p {
    margin: 0.2rem;
    color: #c9c9c9;
    font-size: 0.9rem;
  }
}

.button {
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  transition: 0.2s ease-in-out;
  width: 6em;
  text-align: center;
  letter-spacing: 1px;
  margin:auto;
    a{
      text-decoration: none;

  }
}

.primary {
  background: #b11226;
  color: white;

  &:hover {
    background: #d01a32;
  }
}
.lead {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 3rem auto;
  color: #d3d3d3;
  font-size: 1.2rem;
    a{
    color:rgb(79, 130, 218);
    text-decoration: underline;
  }
}