.wrapper {
  padding: 2rem 3rem;
  color: white;
  max-width:1600px;
  margin:auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-family: 'UnifrakturCook', cursive; // your gothic / MTG vibe

}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;

  @media (max-width: 1000px) {
    grid-template-rows: 1fr;
  }
}

.city h2 {
  margin-bottom: 1.2rem;
}

.eventsRow {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.card {
  min-width: 260px;
  background: #111318;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #2a2d34;
  padding: 1rem;
  &.ticket{
    border: 2px solid gold;
  }
  &.placeholderCard {
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 22px;
color: rgba(255, 255, 255, 0.65);
font-style: italic;
.button{
  border: 2px solid red;
}
}
}

.image {
  height: 160px;
  background-size: cover;
  background-position: center;
  border-radius: 0.8rem;
  /* You can swap to city-specific later */
  background-image: url("https://images.unsplash.com/photo-1528909514045-2fa4ac7a08ba");
}

.body {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  h3 {
    margin-bottom: 0.3rem;
  }
  p {
    margin: 0.2rem;
    color: #c9c9c9;
    font-size: 1rem;
    a {
    color:rgb(79, 130, 218);
  }
  }
}

.button {
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  letter-spacing: 1px;
}

.primary {
  background: #b11226;
  color: white;

  &:hover {
    background: #d01a32;
  }
}